<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
      <remove name="WebDAV" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="api">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
		
		
		
		
		
	  <iisnode node_env="development" />
	
	  <httpErrors existingResponse="PassThrough" />
	
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
 <appSettings>
 
 
 
    <!-- API Base Href -->
     <add key="API_BASE_HREF" value="/d3/users/api" />

    <!-- OAuth SERVER Userinfo Endpoint -->
    <add key="OAUTH_USERINFO_ENDPOINT" value="https://mylogin.amat.com:8080/idp/userinfo.openid" />

    <!-- API ID and SECRET -->
    <add key="API_SECRET_KEY" value="DTPredict" />
		
	
	
    <add key="API_BASIC_AUTH_USERNAME" value="9ae0f32f664d5f18ab211fa659dc2367" />
    <add key="API_BASIC_AUTH_PASSWORD" value="86e6ecc075cb6fab7441868cd8fe9e2c" />

    <!-- JWT TOKEN EXPIRY TIME (IN SECONDS) -->
    <add key="TOKEN_EXPIRY_TIME" value="900" />
	

    <!--NODE-MSSQL CONNECTION CONFIG SETTINGS -->
    <add key="MSSQL_DB_LOGIN_USERNAME" value ="dt_predict_user"/>
    <add key="MSSQL_DB_LOGIN_PASSWORD" value ="Digi@2020"/>
    <add key="MSSQL_SERVER_HOST" value ="ec2-34-234-73-15.compute-1.amazonaws.com"/>
    <add key="MSSQL_DB_NAME" value ="DTPredict"/>
    <add key="MSSQL_CONNECTION_MAX_POOL" value = "100"/>
    <add key="MSSQL_CONNECTION_TIMEOUT" value = "30000"/>
    <add key="MSSQL_REQUEST_TIMEOUT" value = "30000"/>
	
	
    <!-- Logging Level -->
    <add key="APPLICATION_LOG_LEVEL" value="trace"/>

	  <!--AZURE-ACTIVE_DIRECTORY CONFIG SETTINGS -->
    <add key="AZURE_SCOPE" value ="https://graph.microsoft.com/.default"/>
    <add key="AZURE_TENANT_ID" value ="2761e2a1-3c2c-44a5-b7c7-b9e3837b0027"/>
    <add key="AZURE_CLIENT_ID" value ="8eaeddcf-4d0f-4d26-818a-faae63daa8c9"/>
    <add key="AZURE_CLIENT_SECRET_ID" value ="dvK.-C9d2En_owqmm7YDPTjfreAB8.12KZ"/>

    <add key="APP" value="D3" />
    <add key="APP_URL" value="https://digitaas.io/d3/app/#/dashboard" />
    <add key="NO_REPLY_MAIL_ID" value="admin@digitaltaas.com" />
    <add key="MAIL_PASSWORD" value="Dux80520" />
    <add key="APP_BASE_URL" value="https://digitaas.io/d3/app/#/login/" />
	 
  </appSettings>

</configuration>
